
h1{
text-align:center;
font-size:300%;
color:black;

}

body{
background-color:#D5F5E3;
}


.image:{
width:1200px;
height:900px;
float-right:200px;

}
form{
float:right;
margin:30px;
border:50px;
padding:60px;
background-color:#D9E223;
}

.first{
margin:50px;
border:40px;
float:left;
font-size:150%;
}

.final{
text-align:center;
font-size:400%;
color:blue;

}


